


{% block body %}
    {# Calendar #}
    <div id='calendar'></div>

  {# Informations #}
    <div id='infos'>
      Sélectionnez un événement pour laisser apparaitre le détail
    </div>
     <div id='event-details'></div> 

{% endblock %}


{% block javascripts %} 

    {# FullCalendar Script 1 #}
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
    
    {# FullCalendar Script (2) : Paramétrage du FullCalendar #}
    <script>
    
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var eventDetailsEl = document.getElementById('infos'); // Get reference to event details container
        var calendar = new FullCalendar.Calendar(calendarEl, {          
          initialView: 'dayGridWeek',
          weekends: true,
          dayHeaderFormat: { weekday: 'long' },
          locale: 'fr',
          firstDay: '1',
          height : '80%',
          aspectRatio: 1,
          displayEventTime: false,
          dateClick: function(info) {
                // Vide la div
                eventDetailsEl.innerHTML = '';
                // Filtre les événements de la date cliquée
                var events = calendar.getEvents().filter(function(event) {
                  return event.startStr === info.dateStr;
                });
                // Affiche les détails de l'événement
                if (events.length > 0) {
                  events.forEach(function(event) {
                    var icon = event.extendedProps.icon;
                    var chamber = event.extendedProps.chamber;
                    var dates = event.startStr + ' - ' + event.endStr;
                    var eventInfo = `
                      <div>
                        <img src="${icon}" style="width: 30px; height: 30px; border-radius: 50%; margin: 5px;">
                        <p>Chambre: ${chamber}</p>
                        <p>Dates: ${dates}</p>
                      </div>
                    `;
                    eventDetailsEl.innerHTML += eventInfo;
                  });
                } else {
                  eventDetailsEl.innerHTML = '<p>Aucun événement pour cette date.</p>';
                }
                },
          eventDisplay : 'block',
          headerToolbar: {
            left: 'myCustomButton',
            center: 'title' ,
            right: 'prev,dayGridWeek,dayGridMonth,next'
          },
          {# Voir ReservationController pour /api/reservations #}
        events: '/api/reservations', 
          customButtons: {
            myCustomButton: {
              text: 'Nouvelle réservation',
              click: function() {
                window.location.href = "{{ path('app_reservation') }}";
              }
            }
          },
          buttonText: {
            today: 'aujourd\'hui',
            month: 'mois',
            week: 'semaine',
            day: 'jour',
            list: 'liste'
            },
        eventContent: function(arg) {
            let containerEl = document.createElement('div')

            let avatarEl = document.createElement('img')
            avatarEl.src = arg.event.extendedProps.icon
            avatarEl.style.width = '30px'
            avatarEl.style.height = '30px'
            avatarEl.style.borderRadius = '50%'
            avatarEl.style.margin = '5px'

            let textEl = document.createElement('span')
            textEl.innerHTML = arg.event.title

            containerEl.appendChild(avatarEl)

            return { domNodes: [avatarEl] }
        },
        

        });
        calendar.render();
      });
    </script>
    {% endblock %}

    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/calendar.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/homestyle.css') }}">
    {# font Poppins #}
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'> 
    {% endblock %}

  

