


{% block body %}
    {# Calendar #}
    <div id='calendar'></div>

   

  {# Informations #}
    <div id='infos'>
      Sélectionnez un événement pour laisser apparaitre le détail
    </div>
     <div id='event-details'></div> 

{% endblock %}


{% block javascripts %} 

    {# FullCalendar Script 1 #}
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
    
    {# FullCalendar Script (2) : Paramétrage du FullCalendar #}
    <script>
    
      document.addEventListener('DOMContentLoaded', function() {
        let calendarEl = document.getElementById('calendar');
        let eventDetailsEl = document.getElementById('infos'); 
        let calendar = new FullCalendar.Calendar(calendarEl, {          
          initialView: 'dayGridWeek',
          weekends: true,
          dayHeaderFormat: { weekday: 'long' },
          locale: 'fr',
          firstDay: '1',
          height : '80%',
          aspectRatio: 1,
          displayEventTime: false,
          dateClick: function(info) {
                // Vide la div
                eventDetailsEl.innerHTML = '';
                // Filtre les événements de la date cliquée
                let events = calendar.getEvents().filter(function(event) {
                  return event.startStr === info.dateStr;
                });
                // Affiche les détails de l'événement
                if (events.length > 0) {
                  events.forEach(function(event) {
                    let icon = event.extendedProps.icon;
                    let firstname = event.extendedProps.firstname
                    let lastname = event.extendedProps.lastname
                    let chamber = event.extendedProps.chamber;
                    let dates = event.startStr + ' - ' + event.endStr;
                    let debut = event.extendedProps.debut;
                    let fin = event.extendedProps.fin;
                    let eventInfo = `
                      <div>
                        <img src="${icon}" style="width: 30px; height: 30px; border-radius: 50%; margin: 5px;">
                        ${firstname} ${lastname}
                        <p>Chambre: ${chamber}</p>
                        <p>Période de réservation: ${debut} - ${fin}</p>
                      </div>
                    `;
                    eventDetailsEl.innerHTML += eventInfo;
                  });
                } else {
                  eventDetailsEl.innerHTML = '<p>Aucun événement pour cette date.</p>';
                }
                },
          eventDisplay : 'block',
          headerToolbar: {
            left: 'myCustomButton',
            center: 'title' ,
            right: 'prev,dayGridWeek,dayGridMonth,next'
          },
          events: '/api/reservations', 
          dayCellContent: function(arg) {
          let dateText = arg.date.getDate();
          
          // Créez un identifiant unique basé sur la date
          let id = `pastille-${arg.date.getFullYear()}-${arg.date.getMonth() + 1}-${dateText}`;
          
          let pastille = `     
          <div id="${id}" class="circle red-circle" onclick="togglePastille('${id}')"></div>
          ` 
          let dateHtml = `<div>${dateText}</div>`;
          return { html: dateHtml + pastille };
          },
          customButtons: {
            myCustomButton: {
              text: 'Nouvelle réservation',
              click: function() {
                window.location.href = "{{ path('app_reservation') }}";
              }
            }
          },
          buttonText: {
            today: 'aujourd\'hui',
            month: 'mois',
            week: 'semaine',
            day: 'jour',
            list: 'liste'
            },
        eventContent: function(arg) {
            let containerEl = document.createElement('div')

            let avatarEl = document.createElement('img')
            avatarEl.src = arg.event.extendedProps.icon
            avatarEl.style.width = '30px'
            avatarEl.style.height = '30px'
            avatarEl.style.borderRadius = '50%'
            avatarEl.style.margin = '5px'

            let textEl = document.createElement('span')
            textEl.innerHTML = arg.event.title

            containerEl.appendChild(avatarEl)

            return { domNodes: [avatarEl] }
        },
        

        });
        calendar.render();
      });

      // Fonction qui change la couleur de la pastille lorsque click
      function togglePastille(id) {
      let pastille = document.getElementById(id);
      if (pastille.classList.contains('red-circle')) {
          pastille.classList.remove('red-circle');
          pastille.classList.add('green-circle');
      } else {
          pastille.classList.remove('green-circle');
          pastille.classList.add('red-circle');
      }
  }
    </script>
    {% endblock %}

    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/calendar.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/homestyle.css') }}">
    {# font Poppins #}
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'> 
    {% endblock %}

  

