{% extends 'base.html.twig' %}

{% block title %}Hello CalendarController!{% endblock %}


{% block body %}

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    <h1>Calendrier</h1>
   
    <h2>{{ year }}</h2>

    {% for month in this.datasMonth %}
    <h3>{{ month['name'] }}</h3>

        <ul>
            {% for day in month.days %}
                <li>{{ day }}</li>
            {% endfor %}
        </ul>

    {% endfor %}

</div>
{% endblock %}
