{# {% block head %}

{% endblock %} #}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<style>
.rebatiereHeader {
display: flex; 
justify-content: space-between; 
padding : 1%;
margin : 1%;
}
</style>
{% endblock %}


{% block header %}

<div class="rebatiereHeader">
{# Logout #}

<a href="{{ path('app_logout') }}">
<button>
<i class="fa-solid fa-right-from-bracket"></i>
</button>
</a>

{# Menu profil #}

<a href="{{ path('user.check') }}">
<button>
<i class="fa-solid fa-user"></i>
</button>
</a>
</div>

{% endblock %}