<!DOCTYPE html>

{# Voir plus de layouts sur https://useaxentix.com/docs/general/layouts/ #}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {# layout axentis #}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@2.4.0/dist/axentix.min.css">

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>

    <body class="layout-sidenav">

    <header>
      <nav class="navbar shadow-1 primary">
        {# <a href="#" target="_blank" class="navbar-brand">Axentix</a> #}
        <div class="navbar-menu ml-auto">
          <a class="navbar-link" href="{{ path('user.edit', {'id': currentUser.id}) }} ">Mon profil</a>
          <a class="navbar-link" href=" {{ path('user.reservation.edit', {'id': currentUser.id}) }} ">Mes réservations</a>
          {# <a class="navbar-link" href="#">Mes réservations</a> #}
        </div>
      </nav>
    </header>

    {% include 'partials/flash.html.twig' %}
    {# {{ dump(app.flashes) }} #}

    <main class="mainContainer">
    <main class="mainOverlay">
      
          <main>
          <!-- Code here the main content -->
          </main>
      
        {% block body %}{% endblock %}
    </main>
    </main>

    <footer class="footer primary">
     
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/axentix@2.4.0/dist/axentix.min.js"></script>

    </body>
    
</html>
