{# {% extends 'base.html.twig' %} #}
{% extends 'user.html.twig' %}

{% block title  %}

{{ "Modification de l'Utilisateur : " ~ user.username }}
{% endblock %}

{% block body %}
<div class="container">
<h1 class="mt-4"> Formulaire de modification des infos de l'utilisateur</h1>

{{ form(form) }}
</div>

{% endblock %}