
{% extends 'user/user.html.twig' %}

{% block stylesheets  %}
<link rel="stylesheet" href="{{ asset('assets/css/profil.css') }}">
{% endblock  %}

{% block title  %}

{{ "Modification de l'Utilisateur : " ~ user.username }}
{% endblock %}

{% block body %}
<div class="container">

<div class="titreProfil">
<h1 class="mt-4"> Mes informations utilisateur</h1>
</div>

{{ form(form) }}
</div>

{% endblock %}