{# <div class="chamber-layer-container"> #}
    <img src="{{ asset('assets/images/chambersPlan/elements/el chambre bureau.png') }}" id="chambre2" class="chamber-layer"/>
    {# </div> #}
    {# <div class="chamber-layer-container"> #}
    <img src="{{ asset('assets/images/chambersPlan/elements/el chambre dehors1.png') }}" id="chambre3" class="chamber-layer"/>
    {# </div> #}
    {# <div class="chamber-layer-container"> #} 
    <img src="{{ asset('assets/images/chambersPlan/elements/el chambre dehors2.png') }}" id="chambre4" class="chamber-layer"/>
    {# </div> #}
    {# <div class="chamber-layer-container"> #}
    <img src="{{ asset('assets/images/chambersPlan/elements/el chambre dortoirgrand.png') }}" id="chambre5" class="chamber-layer"/>
    {# </div> #}
    {# <div class="chamber-layer-container"> #}
    <img src="{{ asset('assets/images/chambersPlan/elements/el chambre dortoirpetit.png') }}" id="chambre6" class="chamber-layer"/>
    {# </div> #}
    {# <div class="chamber-layer-container"> #}
    <img src="{{ asset('assets/images/chambersPlan/elements/el chambre droite.png') }}" id="chambre7" class="chamber-layer"/>
    {# </div> #}
    {# <div class="chamber-layer-container"> #}
    <img src="{{ asset('assets/images/chambersPlan/elements/el chambre fenetre.png') }}" id="chambre8" class="chamber-layer"/>
    {# </div> #}
    {# <div class="chamber-layer-container"> #}
    <img src="{{ asset('assets/images/chambersPlan/elements/el chambre gauche.png') }}" id="chambre9" class="chamber-layer"/>
    {# </div> #}
    {# <div class="chamber-layer-container"> #}
    <img src="{{ asset('assets/images/chambersPlan/elements/el chambre jc.png') }}" id="chambre10" class="chamber-layer"/>
    {# </div> #}
    {# <div class="chamber-layer-container"> #}
    <img src="{{ asset('assets/images/chambersPlan/elements/el chambre milieu droite.png') }}" id="chambre11" class="chamber-layer"/>
    {# </div> #}
    {# <div class="chamber-layer-container"> #}
    <img src="{{ asset('assets/images/chambersPlan/elements/el chambre milieu.png') }}" id="chambre12" class="chamber-layer"/>
    {# </div> #}
    {# <div class="chamber-layer-container"> #}
    <img src="{{ asset('assets/images/chambersPlan/elements/el chambre nicole.png') }}" id="chambre13" class="chamber-layer"/>
    {# </div> #}