<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href= "{{ asset('assets/css/profiledropdown.css') }}" >
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'> 
</head>

<body>

{# Début Container #}
<div class="footerContainer">

{# Profil dropdown #}
<div class="footer">

</div>

{# Fin container #}
</div>

</body>
