
    {% block head %}
  <head>
    <html lang='en'>  
    <meta charset='utf-8' />    
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
    {% endblock %}

  {% block body %}
  <body>

    {# header #}
    {# {% include 'header.html.twig' %} #}
    {% include 'home/profiledropdown.html.twig' %}

    {# Calendar #}
    {% include 'fullCalendar/calendar.html.twig' %}

    {# DatePicker jQuery #}
    {# {% include 'reservation/reservation.html.twig' %} #}

  </body>
  {% endblock %}  
   
</html>