
    {% block head %}
  <head>
    <html lang='en'>  
    <meta charset='utf-8' />    
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
    {% endblock %}

  {% block body %}
  <body>

    {# header #}
    {% include 'home/header.html.twig' %}

    {# Calendar #}
    {% include 'calendar/fullcalendar.html.twig' %}

    {# footer #}
    {# {% include 'home/footer.html.twig' %} #}

    {# Modal animated #}
    {# {% include 'home/modal.html.twig' %} #}

    {# DatePicker jQuery #}
    {# {% include 'reservation/reservation.html.twig' %} #}

  </body>
  {% endblock %}  
   
</html>