<html lang='en'>
  <head>
    <meta charset='utf-8' />
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {# Style Local #}
    {# <link rel="stylesheet" href="Rebatiere/templates/home/css/home.css"> #}
    <style>
    .datepicker_container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding : 1%;
    margin : 1%;
    }
    </style>

    {# Style jQuery #}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">

    {# Scripts jQuery #}
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    {# https://api.jqueryui.com/datepicker/#/date-range #}
    <script>
    $( function() {
/** Mise en français du datepicker */
    $.datepicker.regional['fr'] = {
                dateFormat: 'dd-mm-yy',
                closeText: 'Fermer',
                prevText: '&#x3c;Préc',
                nextText: 'Suiv&#x3e;',
                currentText: 'Aujourd\'hui',
                monthNames: ['Janvier','Fevrier','Mars','Avril','Mai','Juin',
                'Juillet','Aout','Septembre','Octobre','Novembre','Decembre'],
                monthNamesShort: ['Jan','Fev','Mar','Avr','Mai','Jun',
                'Jul','Aou','Sep','Oct','Nov','Dec'],
                dayNames: ['Dimanche','Lundi','Mardi','Mercredi','Jeudi','Vendredi','Samedi'],
                dayNamesShort: ['Dim','Lun','Mar','Mer','Jeu','Ven','Sam'],
                dayNamesMin: ['Di','Lu','Ma','Me','Je','Ve','Sa'],
                weekHeader: 'Sm',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: '',
                minDate: 0,
                maxDate: '+12M +0D',
                showButtonPanel: true
                };
    $.datepicker.setDefaults($.datepicker.regional['fr']);
    $('#date').datepicker();
/***/

/**    var dateFormat = "mm/dd/yy", */
      from = $( "#from" )
        .datepicker({
          defaultDate: "+1w",
          changeMonth: true,
          numberOfMonths: 1
        })
        .on( "change", function() {
          to.datepicker( "option", "minDate", getDate( this ) );
        }),
      to = $( "#to" ).datepicker({
        defaultDate: "+1w",
        changeMonth: true,
        numberOfMonths: 1
      })
      .on( "change", function() {
        from.datepicker( "option", "maxDate", getDate( this ) );
      });
 
    function getDate( element ) {
      var date;
      try {
        date = $.datepicker.parseDate( dateFormat, element.value );
      } catch( error ) {
        date = null;
      }
 
      return date;
    }
  } );
    </script>

    {# FullCalendar Script 1 #}
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
    
    {# FullCalendar Script (2) : Paramétrage du FullCalendar #}
    <script>
    {# Pour les majuscules en début de Mois/Jour : https://stackoverflow.com/questions/45819863/uppercase-first-letter-of-month-fullcalendar #}

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridWeek',
          displayTime: false, 
          weekends: true,
          dayHeaderFormat: { weekday: 'long' },
          locale: 'fr',
          firstDay: '1',
          height : '80%',
          aspectRatio: 1,
        });
        calendar.render();
      });
    </script>


  </head>
  <body>
    {# Calendar #}
    <div id='calendar'></div>

    {# Datepicker #}

    <div class='datepicker_container'>
    <label for="from">Date de début</label> &nbsp;
    <input type="text" id="from" name="from"> &nbsp;
    <label for="to">Date de fin </label> &nbsp;
    <input type="text" id="to" name="to"> &nbsp;
    <button id="submitDates">Réserver</button>
    </div>

  </body>
</html>