<!DOCTYPE html>
<html lang="fr">

{% block head %}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ asset('assets/css/map.css') }}">
</head>
{% endblock %}

<body>

    {% block body %}
    {# header #}
    {% include 'header.html.twig' %}

    {# Contient l'image en PNG/JPEG et l'image en SVG en overlay #}
    <div class="box">
        <div class="image-container">
            <img usemap="#chambermap" src="{{ asset('assets/images/firstfloor/firstfloor.jpg') }}" alt="Carte des chambres" class="background-image responsive"/>
            <img src="{{ asset('assets/images/firstfloor/overlay.svg') }}" alt="Overlay SVG" class="overlay-image">
        </div>
    </div>

    <map name="chambermap">
        <area shape="rect" coords="1125,2704,1949,3450" href="#" alt="DortoirFond" title="Sélectionner le dortoir du fond" id="DortoirFond" />
        <area shape="rect" coords="1133,1344,1932,2682" href="#" alt="DortoirPetits" title="Dortoir des petits" id="DortoirPetits" />
        <area shape="rect" coords="3090,1604,3893,2420" href="#" alt="Chambrebleue" title="Chambre bleue" id="ChambreBleue" />
        <area shape="rect" coords="3972,1322,4770,2432" href="#" alt="Jean-Claude" title="Jean-Claude" id="Jean-Claude" />
        <area shape="rect" coords="4182,657,4849,1262" href="#" alt="Alex" title="Alex" id="Alex" />
        <area shape="rect" coords="2011,78,2980,600" href="#" alt="Fenetre" title="Fenetre" id="Fenetre" />
        <area shape="rect" coords="3989,82,4761,600" href="#" alt="Fond" title="Fond" id="Fond" />
        <area shape="rect" coords="3077,94,3853,598" href="#" alt="Milieu" title="Milieu" id="Milieu" />
        <area shape="rect" coords="98,94,945,629" href="#" alt="Nicolas" title="Nicolas" id="Nicolas" />
        <area shape="rect" coords="1054,651,1936,1248" href="#" alt="Gauche" title="Gauche" id="Gauche" />
    </map>
    {% endblock %}

   {% block stylesheets %}
    {# Calendar & homestyle #}
    <link rel="stylesheet" href="{{ asset('assets/css/calendar.css') }}">
    {% endblock %}

</body>
</html>
