<!DOCTYPE html>
<html lang="fr">

{% block head %}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ asset('assets/css/testCSS.css') }}">
</head>
{% endblock %}


    {% block body %}
<body>


<div id="container" class="form-window">
  <div class="text-content">You’ve probably heard of Lorem Ipsum before – it’s the most-used dummy text excerpt out there. People use it because it has a fairly normal distribution of letters and words (making it look like normal English), but it’s also Latin, which means your average reader won’t get distracted by trying to read it. It’s perfect for showcasing design work as it should look when fleshed out with text, because it allows viewers to focus on the design work itself, instead of the text. It’s also a great way to showcase the functionality of programs like word processors, font types, and more.</div>
  <div class="expandable-content"></div>
</div>
<button id="toggle-btn">Toggle Form Size</button>


</body>
    {% endblock %}

    {% block javascripts %}

    <script>
 document.getElementById('toggle-btn').addEventListener('click', function() {
  var formContainer = document.getElementById('container');
  formContainer.classList.toggle('expanded'); // Ajoute ou retire la classe 'expanded'
});

    </script>

    {% endblock %}

</html>
