<!DOCTYPE html>
<html lang="fr">

{% block head %}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ asset('assets/css/testCSS.css') }}">
</head>
{% endblock %}


    {% block body %}

<body>

<div class="container">
  <div class="content">Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire pour calibrer une mise en page, le texte définitif venant remplacer le faux-texte dès qu'il est prêt ou que la mise en page est achevée. Généralement, on utilise un texte en faux latin, le Lorem</div>
</div>


<button id="toggle-btn">Centrer</button>


</body>
    {% endblock %}

    {% block javascripts %}

    <script>
document.getElementById('toggle-btn').addEventListener('click', function() {
  const container = document.querySelector('.container');
  container.classList.toggle('center');
});

    </script>

    {% endblock %}

</html>
