
    <html lang='en'>  
    
    {% block head %}
  <head>
    <meta charset='utf-8' />    
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
    {% endblock %}

  {% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('assets/css/map.css') }}">
  {% endblock %}

  {% block body %}
  <body>

    {# header #}
    {% include 'header.html.twig' %}

    <img usemap="#chambermap" src="{{ asset('assets/images/firstfloor.jpg') }}" alt="Carte des chambres" class="responsive"/>

  <map name="chambermap">
  <area  
      shape="rect"
      coords="1125,2704,1949,3450"
      shape="rect"
      href="google.fr"
      alt="Dortoir Fond"
      title="Sélectionner le dortoir du fond"
      /> 
  </map>
 

  </body>
  {% endblock %}  

   {% block javascripts %}
  <script src="{{ asset('assets/javascript/mapresizer.min.js') }}"></script>
  <script> imageMapResize(); </script>
  {% endblock %}
   
</html>