{% extends 'base.html.twig' %}


{% block body %}
 
    {# On pointe le formulaire de réservation vers le ReservationController avec le datePicker #}
    <form method="post" action="{{ path('app_reservation') }}">
  
      {% include 'datePicker/datepicker.html.twig' %}

    </form>

{% endblock %}

